.FeedCard {
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
}

.photo_container {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    overflow-x: scroll;
}

.FeedCard_container{
    width: 100%;
    height: 100%;
    min-height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.photo_container::-webkit-scrollbar {
    display: none;
}

.photo {
    min-width: 100%;
    height: 100%;
    background-color: var(--text);
    outline: 1px solid black;
}

.card_ui {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom: 4px;
}

.like_button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-25);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like_icon{
    width: 48px;
    height: 48px;
    transition: 0.2s;
}

.same_events_container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 4px;
    flex-direction: column;
    margin-bottom: 8px;
    padding: 0 4px 0 4px;
    box-sizing: border-box;
}

.same_event {
    width: fit-content;
    height: 24px;
    max-width: 100%;
    padding: 2px 8px 2px 8px;
    box-sizing: border-box;
    background-color: var(--background-25);
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.photo_count_container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.photo_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--text);
    background-color: var(--background);
    transition: 0.3s;
}

.FeedCard_description{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 8px;
    box-sizing: border-box;
    overflow-y: scroll;
    transition: 0.5s;
}

.FeedCard_description::-webkit-scrollbar{
    display: none;
}

.FeedCard_description_hidden{
    padding: 0;
    height: 0%;
    opacity: 0;
}

.FeedCard_nickname{
    width: 100%;
    height: fit-content;
    word-break: keep-all;
}

.FeedCard_events{
    margin-top: 4px;
    width: 100%;
    height: fit-content;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.FeedCard_event{
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    min-height: 24px;
    background-color: var(--primary-25);
    padding: 2px 8px 2px 8px;
    box-sizing: border-box;
    border-radius: 8px;
}

.FeedCard_profile_desc{
    margin-top: 16px;
    width: 100%;
    height: fit-content;

}