.PremiumCard{
    width: 100%;
    height: fit-content;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--primary-25);
}

.PremiumCard_header{
    width: 100%;
    height: fit-content;
    text-align: center;
}

.PremiumCard_price{
    width: 100%;
    height: 100%;
    color: var(--accent);
    display: flex;
    justify-content: center;
}

.PremiumCard_feature{
    margin-top: 16px;
    display: flex;
    gap: 4px;
}

.PremiumCard_feature_icon{
    width: 24px;
    height: 24px;
}

.PremiumCard_feature_text{
    width: 100%;
    height: fit-content;
}

.PremiumCard_buy{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    border-radius: 8px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}