.Events {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Events_actions {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: auto;
    margin-bottom: 4px;
}

.Events_add {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--primary);
    border-radius: 20px;
}

.Events_add_icon {
    width: 24px;
    height: 24px;
}

.Events_search_container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    border: 1px solid var(--primary);
    border-radius: 20px;
    gap: 8px;
}

.Events_search {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--text);
    font-size: 24px;
}

.Events_search_icon {
    width: 32px;
    height: 32px;
}

.Events_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.crateEventForm_background {
    position: absolute;
    z-index: 15;
    background-color: var(--background-25);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crateEventForm {
    width: 100%;
    height: fit-content;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.crateEventForm_header {
    width: 100%;
    text-align: center;
}

.createEventForm_choose_container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.createEventForm_choose_chsn {
    color: var(--primary);
    text-decoration: underline;
    transition: 0.3s;
}

.createEventForm_input {
    border: 0px;
    padding: 0 4px 0 4px;
    box-sizing: border-box;
    outline: 1px solid var(--primary);
    border-radius: 8px;
    width: 100%;
    height: 40px;
    background-color: var(--background);
    font-size: 24px;
    color: var(--text);
}

.createEventForm_submit {
    width: 100%;
    height: 40px;
    outline: 1px solid var(--primary);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createEventForm_inputArea {
    height: 120px;
    background-color: var(--background);
    color: var(--text);
    outline: 1px solid var(--primary);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 4px;
    font-size: 24px;
    resize: none;
}

.createEventForm_place_work_time {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.createEventForm_place_work_hours {
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 8px;
}

.createEventForm_time {
    border: 0px;
    padding: 0 4px 0 4px;
    box-sizing: border-box;
    outline: 1px solid var(--primary);
    border-radius: 8px;
    height: 40px;
    background-color: var(--background);
    font-size: 24px;
    color: var(--text);
}

.createEventForm_time::-webkit-inner-spin-button,
.createEventForm_time::-webkit-calendar-picker-indicator {
    display: none;
}

.createEventForm_place_work_days {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.createEventForm_place_work_day {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    outline: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.createEventForm_upload {
    border: 0px;
    padding: 0 4px 0 4px;
    box-sizing: border-box;
    outline: 1px solid var(--primary);
    border-radius: 8px;
    height: 40px;
    background-color: var(--background);
    font-size: 24px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload_photos_container{
    width: 100%;
    height: fit-content;
    min-height: 80px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.uploadedPhoto_placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-border);
}

.uploaded_photo{
    width: 80px;
    height: 80px;
}