.Match{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Match_empty{
    width: 100%;
    height: fit-content;
    margin-top: 8px;
    text-align: center;
}

.Events_choose_type{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}