.Menu{
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background-color: var(--primary-25);
    margin-top: auto;
    margin-bottom: 0px;
    justify-content: space-evenly;
    padding: 4px;
    box-sizing: border-box;
    position: relative;
}

.Menu_dot{
    position: absolute;
    bottom: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary);
    transition: 0.3s;
}