.Profile{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Profile_body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.Profile_events{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Profile_desc{
    width: 100%;
    height: fit-content;
    margin-top: 16px;
}

.Profile_actions{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.Profile_action{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-25);
}

.Profile_action_icon{
    width: 40px;
    height: 40px;
}

.Profile_edit_form_background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--background-25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile_edit_form{
    width: 100%;
    height: fit-content;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Profile_edit_header{
    width: 100%;
    height: fit-content;
    text-align: center;
}

.Profile_edit_events{
    margin-top: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Profile_edit_event{
    width: 100%;
    height: 80px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.Profile_edit_event_desc{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Profile_edit_event_leave{
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    outline: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile_edit_event_leave_icon{
    width: 48px;
    height: 48px;
}

.Profile_event_delete_choices{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.Profile_event_delete_choice{
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    outline: 1px solid var(--primary);
}